# Python cache
__pycache__/
*.egg-info/
.env
output_log.txt
*.py[cod]
*.log
*.env
logs/


# 模型與大型資料
*.bin
*.pt
*.ckpt
*.onnx
*.wav
ct2_models/
work_output/
stream_output/
pretrained_models/
models
R3SI
pipeline_stages.csv
eval_outputs/
TCC-300_dynamic_2

# 測試檔案
*test_report.json
*.json

# 虛擬環境
venv
unsaycret_venv
.venv
*.pyc

# VS Code 設定
.vscode/
.github

# 垃圾
.DS_Store